body {
    background-color: #E4F1F6;
    /*background-image: url("https://www.workflowmax.com/hs-fs/hubfs/Depositphotos_128531930_m-2015.jpg?width=654&name=Depositphotos_128531930_m-2015.jpg");

    background-image: url("https://cdn.pixabay.com/photo/2018/02/02/22/49/background-3126537_1280.jpg");
    backdrop-filter: opacity(50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    */
    font-family: 'Roboto', sans-serif;
}


h2{
    color: #092834;
}

.error {
    color: red;
}



