@(loggedInUser: Option[String])(login: String)(informations: List[models.UserInformation], userInformation: Form[models.UserInformation])(implicit messages: Messages)

@template("User Properties")(loggedInUser) {

    <h2>Hello, @login</h2>

    @helper.form(action = routes.EditUser.create()) {

        @helper.inputText(userInformation("information"), '_label -> "Add information.")

        <input type="submit" value="Update" />
    }

    <h2>Current User Information: @login</h2>

    <table class="table">
        <thead>
            <tr>
            <th>Task ID</th>
            <th>Description</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @for(information <- informations) {
            <tr>
                <td>@information.id</td>
                <td>@information.information</td>
                <td>
                    <a href='@routes.EditUser.edit(information.id)' class="btn btn-info">Edit</a>
                </td>
                <td>
                @helper.form(action = routes.EditUser.delete(information.id)) {
                    <input type="submit" value="Delete!" class="btn btn-danger"/>
                }
                </td>
            </tr>

        }
        </tbody>
    </table>

}